# ignore all files by default
*

# include required files with an exception
!LICENSE
!README.md

# we need these files for node version control or build arguments
!entrypoint.sh
!docker
!package.json
!yarn.lock
!tsconfig.json
!tslint.json
!src
!test
!types
